
div {
    font-size: 30px;
}

/* Responsive - Mobile (max 480px) */ 

@media screen and (max-width: 480px) {
    div {
        background-color: red;
        font-size: 0.7rem;
    }
}

/* Responsive - Tablet (481px - 1024px) */ 

@media screen and (min-width: 481px) and (max-width: 1024px) {
    div {
        background-color: green;
        font-size: 0.9rem;
    }
}

/* Responsive - Desktop (min 1025px) */ 

@media screen and (min-width: 1025px) {
    div {
        background-color: yellow;
        font-size: 1rem;
    }
}